@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-50: 180 71.4% 95.9%;
    --primary-100: 178.2 73.9% 91%;
    --primary-200: 178.3 74.2% 81.8%;
    --primary-300: 177.9 74% 69.8%;
    --primary-400: 178 73.8% 59.6%;
    --primary-500: 178.1 75.4% 49.4%;
    --primary-600: 178.1 75.7% 40.4%;
    --primary-700: 178.5 75.2% 31.6%;
    --primary-800: 178 75.2% 23.7%;
    --primary-900: 177.4 75.8% 17.8%;
    --primary-950: 178.2 73.9% 9%;

    --secondary-50: 183.2 100% 96.3%;
    --secondary-100: 185.1 95.9% 90.4%;
    --secondary-200: 186.2 93.5% 81.8%;
    --secondary-300: 187 92.4% 69%;
    --secondary-400: 187.9 85.7% 53.3%;
    --secondary-500: 188.7 94.5% 42.7%;
    --secondary-600: 191.6 91.4% 36.5%;
    --secondary-700: 192.9 82.3% 31%;
    --secondary-800: 194.4 69.6% 27.1%;
    --secondary-900: 196.4 63.6% 23.7%;
    --secondary-950: 197 78.9% 14.9%;

    --accent-50: 213.8 100% 96.9%;
    --accent-100: 214.3 94.6% 92.7%;
    --accent-200: 213.3 96.9% 87.3%;
    --accent-300: 211.7 96.4% 78.4%;
    --accent-400: 213.1 93.9% 67.8%;
    --accent-500: 217.2 91.2% 59.8%;
    --accent-600: 221.2 83.2% 53.3%;
    --accent-700: 224.3 76.3% 48%;
    --accent-800: 225.9 70.7% 40.2%;
    --accent-900: 224.4 64.3% 32.9%;
    --accent-950: 226.2 57% 21%;

    --neutral-50: 210 50% 99.2%;
    --neutral-100: 210 40% 98%;
    --neutral-200: 214.3 31.8% 91.4%;
    --neutral-300: 212.7 26.8% 83.9%;
    --neutral-400: 215 20.2% 65.1%;
    --neutral-500: 215.4 16.3% 46.9%;
    --neutral-600: 215.3 19.3% 34.5%;
    --neutral-700: 220 26.3% 22.4%;
    --neutral-800: 222.5 35.3% 13.3%;
    --neutral-900: 222.9 38.9% 7.1%;
    --neutral-950: 225 44.4% 3.5%;

    --background: var(--neutral-100);
    --foreground: var(--neutral-900);
    --card: 0 0% 100%;
    --card-foreground: var(--neutral-900);
    --popover: 0 0% 100%;
    --popover-foreground: var(--neutral-900);
    --primary: var(--primary-500);
    --primary-foreground: var(--neutral-900);
    --secondary: var(--secondary-500);
    --secondary-foreground: var(--neutral-100);
    --muted: var(--neutral-200);
    --muted-foreground: var(--neutral-500);
    --accent: var(--accent-500);
    --accent-foreground: var(--neutral-100);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: var(--neutral-300);
    --input: var(--neutral-300);
    --ring: var(--primary-500);
    --radius: 0.5rem;
    --chart-1: var(--primary-500);
    --chart-2: var(--secondary-500);
    --chart-3: var(--accent-500);
    --chart-4: var(--primary-300);
    --chart-5: var(--secondary-300);
  }

  .dark {
    --background: var(--neutral-900);
    --foreground: var(--neutral-100);
    --card: var(--neutral-800);
    --card-foreground: var(--neutral-100);
    --popover: var(--neutral-800);
    --popover-foreground: var(--neutral-100);
    --primary: var(--primary-500);
    --primary-foreground: var(--neutral-900);
    --secondary: var(--secondary-500);
    --secondary-foreground: var(--neutral-100);
    --muted: var(--neutral-800);
    --muted-foreground: var(--neutral-500);
    --accent: var(--accent-500);
    --accent-foreground: var(--neutral-100);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: var(--neutral-700);
    --input: var(--neutral-700);
    --ring: var(--primary-500);
    --chart-1: var(--primary-400);
    --chart-2: var(--secondary-400);
    --chart-3: var(--accent-400);
    --chart-4: var(--primary-300);
    --chart-5: var(--secondary-300);
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    word-break: keep-all;
    overflow-wrap: anywhere;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
